* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
}

.game-container {
  text-align: center;
}

canvas {
  height: 80vh;
  position: relative;
  width: fit-content;
  border: 2px solid #e4f1f8;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 40px;
}

button:hover {
  background-color: #0d4469;
}

#bounceCounter {
  font-size: 18px;
  margin: 0;
  font: 20px bold;
}
